$main-color: #5d46dd;
$secondary-color: #3a8fff;
$dark-color: #353535;
$light-color: rgb(231, 235, 238);
$black: black;
$green: rgb(14, 255, 106);
$orange: rgb(255, 179, 0);
$red: #e82525;
$silver: silver;

$background-color: $black;
$light-background: $light-color;
$btn-color: $main-color;
$btn-secondary-color: $secondary-color;