@import './colors';
@import url('https://fonts.googleapis.com/css?family=VT323&display=swap');
@import url('https://fonts.googleapis.com/css?family=Share+Tech+Mono&display=swap');

@keyframes blink {
  0% {
    display: none;
  }
  100% {
    display: block;
  }
}

* {
  font-family: 'Share Tech Mono', monospace !important;
  letter-spacing: 1px;
  font-weight: 100;
}
body {
  background-color: $background-color;
  padding: 25px;
  margin: 0;
  color: white;
  // height: calc(100vh - 50px);
  cursor: url(http://www.rw-designer.com/cursor-extern.php?id=52844), auto;

  h1 {
    letter-spacing: 1px;
    text-align: center;
    font-size: 2.5em;
  }
  h2,
  h3 {
    margin: 0;
    letter-spacing: 1px;
    text-align: center;
  }
  .flex-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .dotted-border {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    & > span {
      position: absolute;
      width: 100%;
      height: 100%;
      display: block;
      left: 0;
      top: 0;
      z-index: -1;
    }
    .top {
      background-image: linear-gradient(to right,white 50%, black 50%);
      background-position: top;
      background-size: 8px 2px;
      background-repeat: repeat-x;
    }
    .right {
      background-image: linear-gradient(white 50%, black 50%);
      background-position: right;
      background-size: 2px 8px;
      background-repeat: repeat-y;
    }
    .bottom {
      background-image: linear-gradient(to right,white 50%, black 50%);
      background-position: bottom;
      background-size: 8px 2px;
      background-repeat: repeat-x;
    }
    .left {
      background-image: linear-gradient(white 50%, black 50%);
      background-position: left;
      background-size: 2px 8px;
      background-repeat: repeat-y;
    }
  }
  .repo-box {
    position: relative;
    width: 200px;
    margin: 10px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    h2 {
      text-align: center;
    }
    .description {
      font-size: 14px;
      // background-color: $light-background;
      color: $orange;
      padding: 10px;
      text-align: center;
      position: relative;
      margin-bottom: 15px;
      .top {
        background-image: linear-gradient(to right,$orange 50%, black 50%);
      }
      .right {
        background-image: linear-gradient($orange 50%, black 50%);
      }
      .bottom {
        background-image: linear-gradient(to right,$orange 50%, black 50%);
      }
      .left {
        background-image: linear-gradient($orange 50%, black 50%);
      }
    }
  }
}
ul {
  list-style: none;
  padding: 0;
  margin: 15px 0;
  .start-date {
    font-size: 14px;
  }
}
.btn {
  text-decoration: none;
  // background-color: $btn-color;
  cursor: pointer;
  color: white;
  padding: 8px 10px;
  margin: 5px 0;
  word-break: keep-all;
  white-space: nowrap;
  text-align: center;
  min-width: 150px;
  font-size: 14px;
  // transition: all 0.3s ease;
  position: relative;
  &:hover {
    // background-color: lighten($color: $btn-color, $amount: 10);
    color: $green;
    .top {
      background-image: linear-gradient(to right,$green 50%, black 50%);
    }
    .right {
      background-image: linear-gradient($green 50%, black 50%);
    }
    .bottom {
      background-image: linear-gradient(to right,$green 50%, black 50%);
    }
    .left {
      background-image: linear-gradient($green 50%, black 50%);
    }
  }
  &.btn-secondary {
    &:hover {
      color: $btn-secondary-color;
      .top {
        background-image: linear-gradient(to right,$btn-secondary-color 50%, black 50%);
      }
      .right {
        background-image: linear-gradient($btn-secondary-color 50%, black 50%);
      }
      .bottom {
        background-image: linear-gradient(to right,$btn-secondary-color 50%, black 50%);
      }
      .left {
        background-image: linear-gradient($btn-secondary-color 50%, black 50%);
      }
    }
  }
}
.m-top-auto {
  margin-top: auto;
}
#hello-page {
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 50px);
}
.standard-input {
  background-color: transparent;
  color: white;
  border: 0;
  padding: 5px 10px;
  position: relative;
  z-index: 1;
  outline: none;
  &.disabled {
    color: $silver;
  }
}
.not-found {
  margin: 0 0 10px 0;
  font-size: 12px;
  color: $silver;
  span {
    color: $red;
    max-width: 100px;
    text-overflow: ellipsis;
    overflow: hidden;
    display: inline-block;
    vertical-align: bottom;
  }
}
.command-box {
  width: 640px;
  height: 380px;
  overflow-y: auto;
  position: relative;
  z-index: 1;
}
.pages {
  li {
    display: inline-block;
    margin-right: 15px;
    color: $secondary-color;
    &:before {
      content: '#';
    }
  }
}
#navigation {
  width: 640px;
  height: 380px;
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 999;
  transform: translate(-50%, -50%);
  background-color: $black-transparent;
  padding: 5px 0 10px 10px;
  transition: all 0.3s ease;
  .input-box {
    left: 15px;
    color: $green;
    margin: 0;
    overflow-x: hidden;
    .help-info {
      color: $secondary-color;
    }
  }
  &.closed {
    top: 15px;
    left: 15px;
    width: 30px;
    height: 30px;
    padding: 0;
    cursor: pointer;
    z-index: 2;
    &:after {
      content: '>';
      color: $green;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: -1;
    }
    .command-box {
      width: 30px;
      height: 30px;
    }
    transform: translate(0, 0);
    .input-box {
      display: none;
    }
  }
  &:not(.closed) + .help {
    left: 15px;
  }
  .close-btn {
    width: 30px;
    height: 30px;
    position: absolute;
    z-index: 0;
    top: -45px;
    right: 0;
    background-color: $black-transparent;
    & > span {
      display: block;
      height: 2px;
      width: 20px;
      position: absolute;
      background-color: $green;
      top: 14px;
      left: 5px;
      &:first-of-type {
        transform: rotate(-45deg);
      }
      &:last-child {
        transform: rotate(45deg);
      }
    }
  }
}
.help {
  top: 15px;
  padding: 0;
  cursor: pointer;
  z-index: 2;
  position: fixed;
  top: 15px;
  left: 60px;
  color: $green;
  transition: all 0.3s ease;
  background-color: $black-transparent;
  &.open {
    padding: 10px;
  }
  &:not(.open) {
    width: 30px;
    height: 30px;
    &:after {
      content: '?';
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: -1;
    }
  }
  p:first-child {
    margin-top: 0;
  }
  p:last-child {
    margin-bottom: 0;
  }
}
.text-red {
  color: $red !important;
}
.text-green {
  color: $green !important;
}
.text-orange {
  color: $orange !important;
}
.text-blue {
  color: $secondary-color !important;
}
#videos {
  .flex-box {
    flex-wrap: wrap;
    .video {
      position: relative;
      margin: 10px;
      width: calc(100% / 3 - 30px);
      max-width: 320px;
      padding: 5px;
      cursor: pointer;
      transition: all 0.3s ease;
      transform: scale(1);
      &:hover {
        transform: scale(1.1);
      }
    }
    .video-details {
      position: relative;
      z-index: 1;
      padding: 15px;
      height: 200px;
      .title {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        z-index: 1;
        background-color: $black-transparent-light;
        display: flex;
        align-items: center;
        h3 {
          background-color: $black-transparent-light;
          padding: 10px 0;
        }
      }
      img {
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        position: absolute;
        z-index: 0;
      }
    }
  }
}
#aboutme {
  img {
    width: 250px;
    border-radius: 50%;
    margin-top: 20px;
    margin-bottom: 5px;
  }
  .flex-box {
    position: relative;
    width: 70%;
    margin: auto;
  }
  b {
    font-weight: 800;
    color: $green;
  }
  h2 {
    color: $secondary-color;
  }
  h3 {
    margin-top: 15px;
    color: $orange;
  }
  p {
    text-align: center;
  }
  ul {
    text-align: center;
    li {
      margin: 5px 0;
    }
  }
  .description {
    position: relative;
    z-index: 1;
    padding: 20px;
  }
}